:root {
  interpolate-size: allow-keywords;

  [data-popper-positioner] {
    pointer-events: none;
  }

  ::selection {
    background-color: color-mix(in srgb, var(--color-primary) 33%, transparent);
    /* background-color: var(--color-primary); */
    /* color: var(--color-background); */
  }

  ::-webkit-scrollbar-track {
    background: var(--theme-background-panel);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--theme-border-subtle);
    border-radius: 6px;
  }

  * {
    scrollbar-color: var(--theme-border-subtle) var(--theme-background-panel);
  }
}

.no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  & {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
